<h2>Welcome to Modern Bank of India !</h2>

<section>
<!-- Customer -->
<div class="card cards" style="width: 13rem;">
  <a href="" routerLink="../customer-login"><img src="../../assets/customerLogo.png"  class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Customer</h5>
    </div>
 </div>

 <!-- Customer -->
<div class="card cards" style="width: 13rem;"> 
  <a href="" routerLink="../managerDashbord"><img src="../../assets/adminLogo.png"  class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Manager</h5>
    </div>
 </div>

 <!-- Open Account -->
<div class="card cards" style="width: 13rem;"> 
  <a href="" routerLink="../creatAccount"><img src="../../assets/openAc.png"  class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Creat Account</h5>
    </div>
 </div>
</section>

<h6 class=" ms-4 me-4 text-center">Modren Bank of India (MBI) a Fortune 500 company, is an Indian Multinational, Public Sector Banking and Financial services statutory body headquartered in Mumbai. 
  The rich heritage and legacy of over 200 years, accredits MBI as the most trusted Bank by Indians through generations. The Bank has successfully diversified businesses through its various subsidiaries i.e MBI General Insurance, 
  MBI Life Insurance, MBI Mutual Fund, MBI Card, etc. It has spread its presence globally and operates across time zones through 235 offices in 29 foreign countries.</h6>
